{% if section.settings.text != blank %}
<div class="announcementKT-bar"><p class="announcementKT-bar-message">hellos</p></div>
{% endif%}

{% schema %}
{
    "type": "header",
    "content": "This is the Header."
}
{% endschema %}