{{ 'KTstyle.css' | asset_url | stylesheet_tag }}

{% if section.settings.text != blank %}
<div class="announcementKT-bar {% if section.settings.id_to_access_checkbox == true %} announcementKT-bar-sticky{% endif %} "><p class="announcementKT-bar-message">hellos</p></div>
{% endif%}

{% schema %}
{
    "name": "Name of Section",
    "settings": [
        {
            "type": "header",
            "content": "This is content"
        },
        {
            "type": "paragraph",
            "content": "This is underlying explaination text."
        },
        {
            "type": "checkbox",
            "id": "unique_id_to_access_setting_for_use",
            "label": "This is the label text in checkbox sidebar setting",
            "info": "This is the complete info in this checkbox sidebar setting, we also set a defualt true of false value. [Learn More About Inserting Links](https://shopify.dev/themes/architecture/settings/sidebar-settings)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "id_to_access_checkbox",
            "label": "Basic Input Checkbox Label",
            "info": "This is used to make this bar sticky.",
            "default": true
        }
    ]
    
}
{% endschema %}