{{ 'KTstyle.css' | asset_url | stylesheet_tag }}

{% if section.settings.text != blank %}
<div class="announcementKT-bar"><p class="announcementKT-bar-message">hellos</p></div>
{% endif%}

{% schema %}
{
    "name": "Name of Section",
    "settings": [
        {
            "type": "header",
            "content": "This is content"
        },
        {
            "type": "paragraph",
            "content": "This is underlying explaination text."
        }
    ]
    
}
{% endschema %}