{{ 'KTstyle.css' | asset_url | stylesheet_tag }}



<div class="announcementKT-bar {% if section.settings.id_to_access_checkbox %} conductiveMammal {% endif %}"> <p class="announcementKT-bar-message">hello</p></div>

<style>
    {% if section.settings.id_to_access_checkbox %} 
    
    .shopify-section-announcementKT{
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
    }
    {% endif %}
</style>

{% schema %}
{
    "name": "Name of Section",
    "class": "shopify-section-announcementKT",
    "settings": [
        {
            "type": "header",
            "content": "This is content"
        },
        {
            "type": "paragraph",
            "content": "This is underlying explaination text."
        },
        {
            "type": "checkbox",
            "id": "unique_id_to_access_setting_for_use",
            "label": "This is the label text in checkbox sidebar setting",
            "info": "This is the complete info in this checkbox sidebar setting, we also set a defualt true or false value. [Learn More About Inserting Links](https://shopify.dev/themes/architecture/settings/sidebar-settings)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "id_to_access_checkbox",
            "label": "Basic Input Checkbox Label",
            "info": "This is used to make this bar sticky.",
            "default": false
        }
  ],
    "blocks": [
    {
            "type": "typeForprsnlRfrnc",
            "name": "NAME(name of the block.)",
            "settings": [
                {
                    "type": "number",
                    "label": "This is label of 'number' setting 1",
                    "id": "This_is_label_of_number_setting_1",
                    "default": 5
                }
            ]    

    }
    ]
}
{% endschema %}