{{ 'KTstyle.css' | asset_url | stylesheet_tag }}



<div class="announcementKT-bar {% if section.settings.id_to_access_checkbox %} conductiveMammal {% endif %}"> <p class="announcementKT-bar-message">hello</p></div>

<style>
    {% if section.settings.id_to_access_checkbox %} 
    
    .shopify-section-announcementKT{
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
    }
    {% endif %}
</style>

{% schema %}
{
    
    "name" : "Footer with Logo",
    "blocks":[
        {
            "type":"image_picker",
            "name": "Footer Logo",
            "settings":[
                {
                "type":"image_picker",
                "id":"footer_logo_here",
                "label":"Footer Image"
                } 
            ]
        }    
        ]
}
{% endschema %}