{% if section.settings.text != blank %}
<div class="announcementKT-bar"><p class="announcementKT-bar-message">{{block.settings.text}}</p></div>
{% endif%}

{% schema %}
{
   "name": ""
}
{% endschema %}