/*KT ANNOUNCEMENT BAR*/
.announcementKT-bar{
    width: 100%;
    background-color: tomato;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    z-index: 5;
    letter-spacing: 0.1rem;
    text-align: center;
    
  }

  .announcementKT-bar-message{
    margin: 0;
  }

  .announcementKT-bar-sticky{
    position: sticky;
    top: 3rem;
  }
  